<mat-card >
  <mat-card-content>
    <mat-sidenav-container >
      <mat-sidenav #sidenav position="end" mode="push" >
        <label>lasdkjfldsjf</label>
        <br>
        <button>asdsad</button>
      </mat-sidenav>
      <div>
          <h6><button type="button" mat-button class="w3-button w3-black w3-padding-large w3-large w3-opacity w3-hover-opacity-off" (click)="sidenav.open()">Get more search options</button></h6> 
          
      </div>
    </mat-sidenav-container>
  </mat-card-content>
</mat-card>