<div class="w3-card w3-border w3-padding w3-theme-l5 w3-container" style="width:800px; height:250px">
  <span  style="float:left; height: 100%;width: 35%; padding-right: 50px  ">
  <img class="w3-circle" src="assets/images/propic.gif" alt="Person" style="width:100%; height:100%; ">
</span>
  <span>
    <p class="w3-large"><b>{{name}}</b></p>
    <ngb-rating [rate]="rating" [readonly]="true"></ngb-rating>
    <p class="w3-large">{{category}}</p>
    <p class="w3-large">Charges ${{costPerSlot}} per slot </p>
    
  </span>
  <div class="w3-center">
    <button mat-raised-button >Book stylist</button> 
  </div>
</div>