
<div class="w3-bar" style="padding-bottom: 30px">
<app-calendarheader
 class="w3-center" 
 [(viewDate)]="viewDate"
 (viewDateChange) = "headerButtonClick($event)">
</app-calendarheader>
</div >
<div class= "w3-center"> 
    <label class="w3-xlarge ">{{ viewDate | date:"MMMM yyyy" }}
    </label>
  </div>



<ng-template #cellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" >
    <div class="cal-day-number w3-xlarge">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</div>
    <br>
    
  </div>
  <div *ngIf = "day.inMonth">
    <table style="width:100%">
      <tr class="w3-green "><td class="calendar-slot">Morning</td></tr>
      <tr class="w3-green"><td class="calendar-slot">Evening</td></tr>
    </table>
  </div>
  
</ng-template>

<div>
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="eventClicked($event)"
    (dayClicked)="dayClicked($event)"
    [cellTemplate]="cellTemplate">
  </mwl-calendar-month-view>
  
</div>