
<div class="w3-bar" style="padding-bottom: 30px">
<app-calendarheader
 class="w3-center" 
 [(viewDate)]="viewDate"
 (viewDateChange) = "headerButtonClick($event)">
</app-calendarheader>
</div >
<div class= "w3-center"> 
    <label class="w3-xlarge ">{{ viewDate | date:"MMMM yyyy" }}
    </label>
  </div>



<ng-template #cellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" >
    <div class="cal-day-number w3-xlarge">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</div>
    <br>
    
  </div>
  <div *ngIf = "day.inMonth && day.isFuture">
    <table style="width:100%">
      
      <tr>
        <td  class="calendar-slot" [ngClass]="isSlotFree[day.date.getDate()-1][0]? 'w3-green': 'w3-red'">Morning</td>
        <mat-checkbox (change)="editSelectedSlots($event)"
        [checked] ="isSelectedSlot(day.date.getDate() + '_' + day.date.getMonth() + '_' + day.date.getFullYear() + '_m')?true:false" 
        [id]="day.date.getDate() + '_' + day.date.getMonth() + '_' + day.date.getFullYear() + '_m'" 
        *ngIf="isSlotFree[day.date.getDate()-1][0]"></mat-checkbox>
      </tr>
      <tr>
        <td class="calendar-slot" [ngClass]="isSlotFree[day.date.getDate()-1][1]? 'w3-green': 'w3-red'">Evening</td>
        <mat-checkbox (change)="editSelectedSlots($event)"
        [checked] ="isSelectedSlot(day.date.getDate() + '_' + day.date.getMonth() + '_' + day.date.getFullYear() + '_e')?true:false" 
        [id]="day.date.getDate() + '_' + day.date.getMonth() + '_' + day.date.getFullYear() + '_e'" 
        *ngIf="isSlotFree[day.date.getDate()-1][1]">
      </mat-checkbox>
      </tr>
    </table>
  </div>
  
</ng-template>

<div>
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="eventClicked($event)"
    (dayClicked)="dayClicked($event)"
    [cellTemplate]="cellTemplate">
  </mwl-calendar-month-view>
  <div class="w3-center">
    <button mat-raised-button >Make booking</button> 
  </div>
</div>